
.hir{
    
    background: linear-gradient(
        rgba(63, 59, 59, 0.651), 
        rgba(90, 84, 84, 0.849)
      ),url("./hiring.webp");
   

   
    
    
height: 55rem;

      background-size: cover;
  
      position: relative;
      width: 80%;
      
    margin-left: 10%;
      color: white;
      font-family: 'Quicksand', sans-serif;
      text-align:center ;
      
      
      font-family: 'Quicksand', sans-serif;
      
      
      letter-spacing: 1px;
      overflow: hidden;

}

.hirh{
   
    height: max-content;
    

   
    color:white;
    font-size: 2.5rem;
    
    
   
    font-family: cursive;
    margin-top: 2rem;
}
.hir p{
    color: white;
    
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    height: max-content;
    text-align: left;
}


.himg{
    
  padding: 0.52rem;
    width: 358px;
    height: 478px;
   
}
.second{
    height: 40rem;
    display: flex;
}
.thir{
    width: 44rem;
    
}
.thir p{
   
    font-weight: bolder;
    line-height: 2.5rem;
}


.frm{
        
    margin-top: 4rem;
height: 30rem;
background-image: url("./svgh.png");
background-size: cover;

position: relative;
width: 85%;

margin-left: 8%;
color: white;
font-family: 'Quicksand', sans-serif;
text-align:center ;


font-family: 'Quicksand', sans-serif;


letter-spacing: 1px;
overflow: hidden;
}
.slct{
    margin: 1rem 1rem;
}
.select-css{

    margin-left: 2rem;
    
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 30%;
    
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgb(0 0 0 / 4%);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.frm h1,.frm p{
    color: black;
}
.grph{
    margin-top: 3rem;
}
.white{
    height: 7rem;
}
.sqtn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
  }

.sqtn:hover {
    background: #00bcd4;
    color: white;
}
.w3-input{
    border-radius: 0.8rem;
}